@import "tailwindcss";

@theme {
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --max-width-base: 77.75rem;

  --font-roboto: var(--font-roboto);

  --color-brand-dark-blue: #000f27;
  --color-brand-dark-blue-100: #001537cc;
  --color-brand-dark-blue-200: #282828;
  --color-brand-gray: #f1f0fc;
  --color-brand-purple: #763edb;
  --color-brand-purple-light: #f0f2fc;
  --color-brand-dark-gray: #282828;
  --color-brand-red: #e80000;

  --background-image-btn: linear-gradient(302.62deg, #763edb 0%, #0058e6 100%);
  --background-image-nav: blur(40px), 4px 4px 12px 0px #ffffff1f inset;
  --background-image-hero: linear-gradient(
    302.62deg,
    #763edb 32.04%,
    #0058e6 100%
  );
  --background-image-mob-app: linear-gradient(
    6.31deg,
    #0058e6 4.82%,
    #763edb 94.79%
  );
  --background-image-reliable: linear-gradient(
    271.05deg,
    #0058e6 0%,
    #763edb 100%
  );
  --background-image-success-story: linear-gradient(
    6.31deg,
    #0058e6 4.82%,
    #763edb 94.79%
  );

  --shadow-tab: inset 4px 4px 8px 0px #ffffff0a,
    inset -4px -4px 8px 0px #ffffff0a;

  --shadow-banner: 0px 0px 32px 0px #287edb52;
  --shadow-feature: 0px 4px 12px 0px #0000002e;
  --shadow-select: 1px 1px 4px 0px #0000001f;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-roboto tracking-tight;
  }

  nav {
    box-shadow: inset 4px 4px 12px 0 rgba(255, 255, 255, 0.12);
  }

  h2 {
    @apply text-center text-white text-[40px]/[44px] lg:text-6xl/[60px];
  }

  h3 {
    @apply text-2xl/7 lg:text-[32px]/9;
  }

  h4 {
    @apply text-2xl/6 lg:text-[32px]/9;
  }

  h5 {
    @apply text-xl/6 lg:text-[28px]/9;
  }

  section {
    @apply pb-28 lg:pb-32;
  }
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility smooth-200 {
  @apply transition-all duration-200 ease-in-out;
}

@utility input {
  @apply w-full h-13 bg-brand-dark-blue/5 border border-brand-dark-blue/10 rounded-lg leading-4 outline-brand-dark-blue text-brand-dark-blue placeholder:text-brand-dark-blue/40 p-4;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-slider {
  animation: slide linear infinite;
}

.integration-block {
  backdrop-filter: blur(60px);
  box-shadow: 4px 4px 8px 0px #ffffff0a inset;
  box-shadow: -4px -4px 8px 0px #ffffff0a inset;
}

input[type="checkbox"]:checked + div {
  @apply bg-brand-dark-blue/80;
}

input[type="checkbox"]:checked + div svg {
  @apply block;
}
